.wrapper {
  --_padding: max(5vw, theme(spacing.5));
  box-sizing: content-box;
  margin-inline: auto;
  padding-inline: var(--_padding);
  width: calc(round(down, 100%, 1rem) - var(--_padding) * 2);
  max-width: 60rem;
}
