/*
 * Create a center layout.
 *
 * This component centers its content, based on a method described on every-layout.dev.
 * See: https://every-layout.dev/layouts/center/
 */

.center {
  box-sizing: content-box;
  max-width: 60rem;
  margin-inline: auto;
  padding-inline: max(5vw, theme(spacing.4));
}
