/*
 * Handle font kerning.
 *
 * This utility controls the font kerning.
 * It is based on a method described in a GitHub comment on a CSS Working Group Drafts issue.
 * See: https://github.com/w3c/csswg-drafts/issues/6723#issuecomment-1411487571
 */

.kerning-none {
  font-kerning: none;
  font-feature-settings: normal;
}

.kerning-normal {
  font-kerning: normal;
  font-feature-settings: normal;
}

.kerning-all {
  font-kerning: normal;
  font-feature-settings: 'palt';
}
