/*
 * Handle font kerning based on a method described in a CSS Working Group Drafts issue.
 * (https://github.com/w3c/csswg-drafts/issues/6723#issuecomment-1411487571)
 */
@utility kerning-none {
  font-kerning: none;
  font-feature-settings: normal;
}

@utility kerning-normal {
  font-kerning: normal;
  font-feature-settings: normal;
}

@utility kerning-all {
  font-kerning: normal;
  font-feature-settings: 'palt';
}

/*
 * Exclude `outline-color` property from `transition-property` property.
 * (https://yuheiy.com/2025-07-21-workaround-for-unintended-transition-of-outline-color-in-tailwindcss4)
 */
@utility transition {
  /* prettier-ignore */
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke, --tw-gradient-from,
    --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate,
    filter, -webkit-backdrop-filter, backdrop-filter, display, content-visibility, overlay,
    pointer-events;
}

@utility transition-colors {
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke, --tw-gradient-from,
    --tw-gradient-via, --tw-gradient-to;
}
