---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';

const title = 'はじめに';
const description = '';
---

<Layout title={title} description={description}>
  <main class="wrapper">
    <Hero title={title} description={description} />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure adipisci sint, vel nesciunt
      iste saepe non veniam nostrum consectetur quisquam voluptatibus nemo, error voluptates illo
      dolorem accusantium ut voluptate.
    </p>
  </main>
</Layout>
