---
import type { HTMLTag, Polymorphic } from 'astro/types';

type Props<Tag extends HTMLTag> = Polymorphic<{
  as: Tag;
  title: string;
  description?: string | undefined;
}>;

const { as: Tag = 'div', class: className, title, description, ...props } = Astro.props;
---

<Tag x-data="hero" {...props} class:list={['my-12', className]}>
  <h1 class="text-4xl font-bold kerning-all">
    {title}
  </h1>
  {description && <p class="mt-8 text-xl">{description}</p>}
</Tag>

<script>
  // eslint-disable-next-line import/no-named-as-default
  import Alpine from 'alpinejs';

  Alpine.data('hero', () => ({
    init() {
      console.log('hero component: init');
    },
  }));
</script>
