---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'header'> & {
  title: string;
  description?: string | undefined;
};

const { class: className, title, description, ...props } = Astro.props;
---

<header x-data="hero" {...props} class:list={['wrapper my-12', className]}>
  <h1 class="text-4xl font-bold kerning-all">
    {title}
  </h1>
  {description && <p class="mt-8 text-xl">{description}</p>}
</header>

<script>
  // eslint-disable-next-line import/no-named-as-default
  import Alpine from 'alpinejs';

  Alpine.data('hero', () => ({
    init() {
      console.log('hero component: init');
    },
  }));
</script>
